header {
    padding: 22px 10px 32px 24px;
    background-color: $bg-color03;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-06;
}
.menu ul {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4vw;
    margin-top: 2.5vw;
    li {
        margin: auto calc(35px / 2);
        a {
            padding: 6px;
            font-size: 12px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: $color-01;
            text-decoration: none;
        }
        a:hover {
            background-color: $color-01;
            color: $color-04;
            padding: 5px;
            border: 1px solid $color-05;
        }
    }
}
