.width-100{
    
    width: 90%; 
    height: 400px;
    padding: 20px 0;
    background-color: aqua;
}

div{
    padding: 20px 0;
    margin: 0;
}

.navi{
    width: 20% ;
    float: left;
    background-color: aliceblue;
    display: table;
    height:80%;
    

}
article{
    width: 80%;
    height: 100%;
    float: left;
    background-color: beige;
    box-sizing: border-box;
}
.fixed-width{
    width: 200px;
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
}

